body {
  background: #f6f6f6;
}

.main {
  margin-top: 0.5rem;
}

.left {
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.right {
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.list-title {
  padding: 0 .5rem;
  font-size: 1.3rem;
  color: #1e90ff;
}

.list-icon {
  padding: .5rem 0;
  color: #aaa;
  span {
    padding: 0 10px;
  }
}

.list-context {
  padding: .5rem;
  color: #777;
}